<html>
<head>
    <title>#TrouveTARéponse</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Trouve ta réponse</h1>
        <p>Le résultat est : <br>
            <div id="answer"><%= answer %></div>
        </p>
    </div>
</body>
</html>

