<html>
<head>
    <title>#TrouveTARéponse</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Trouve ta réponse</h1>
        <label class="control-label">Nom :</label>
        <p><%= data.name %></p>
        <label class="control-label">Question :</label>
        <p><%= data.question %></p>
        <p>Votre réponse n'est pas encore disponible. Elle le sera à cette url: <a href=answer/<%= data.uri %>>localhost/answer/<%= data.uri %>/</a></p>
    </div>
</body>
</html>

