<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<div class="container">
<h1 class="text-center">Générateur de réponse !</h1>
<form action ="/question" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4 control-label">Quel est votre prénom ? </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="name" name="name" placeholder="Prénom" autofocus>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Quel est votre question ?</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="question" name="question" placeholder="Question">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" name="Bouton" class="btn btn-default text-center">
                Valider
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</form>
</div>
</body>
</html>

