<html>
<head>
    <title>Liste Question</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Liste des questions : </h1>
        <ul class="list-group">
            <% listeQuestion.forEach(function(question) { %>
                <li class="list-group-item"><%= question.name %> - <%= question.question%></li>
            <% }); %>
        </ul>
    </div>
</body>
</html>

