<html>
<head>
    <title>#TARéponse</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="text-center">Ta réponse : </h1>
        <p>La réponse à la question
            <br>
            <%= question %>
            <br>
            est
            <br>
            <%= answer %>
        </p>
    </div>
</body>
</html>

